entrypoint = "./CodePath_TIP101/Unit6_session1.py"
modules = ["python-3.10:v18-20230807-322e88b"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "Unit4_session2.py", "Unit4_Session1.py", "Unit3_Session2.py", "Unit3_Session1.py", "Unit1_Session2.py", "Unit1_Session1.py"]
deploymentTarget = "cloudrun"
